html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  -moz-user-select: none !important;
  -webkit-touch-callout: none !important;
  -webkit-user-select: none !important;
  -khtml-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  -ms-overflow-style: none !important;
  -webkit-scrollbar: none !important;
  user-select: none !important;
  background-color: rgb(218, 218, 218);
  color: rgb(78, 78, 78) !important;
  font-size: 15px;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: rgb(218, 218, 218);
}

::-webkit-scrollbar-thumb {
  background: rgb(218, 218, 218);
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}