#ListTheLoai {
    display: flex;
    padding: 5px 0px 5px 0px;

    .ContentTheLoai {
    }

    .ContentTheLoai:hover {
        background-color: #14425d;
        cursor: pointer;
    }

    .ContentTheLoaiLink {
        .InLink {
            padding: 8px 35px 8px 15px;
        }
    }
}
