#ListTheLoai {
    display: flex;
    justify-content: center;
    z-index: 100;

    .list-container {
        display: flex;
        margin: 10px;

        .list-column {
            display: flex;
            flex-direction: column;

            .list-item {
                padding: 8px 10px 8px 10px;

                &:hover {
                    background-color: #14425d;
                }
            }
        }
    }
}
