#ListDanhMuc {
    padding: 5px 0px 5px 0px;
    .ContentDanhMuc {
    }

    .ContentDanhMuc:hover {
        background-color: #14425d;
        cursor: pointer;
    }

    .ContentDanhMucLink {
        .InLink {
            padding: 8px 15px 8px 15px;
        }
    }
}
