#Search {
    display: flex;
    align-items: center;
    background-color: rgb(56, 56, 56);
    padding: 7px 7px 7px 7px;

    .InputSearch {
        outline: none;
        border: none;
        background-color: rgb(56, 56, 56);
        color: white;
    }

    .Icon {
        color: rgb(124, 219, 124);
        cursor: pointer;
    }
}
