#RenderTypeTruyen {
    background-color: rgb(236, 240, 241);
    max-height: 700px;
    margin: 35px 0px 0px 20px;

    .TitleRenderTypeTruyen {
        margin: 15px 20px 0px 20px;
        padding: 0px 0px 10px 0px;
        border-bottom: 1px solid rgb(189, 195, 199);
        font-size: 17px;
        font-weight: 600;
    }

    .RenderTypeTruyenContent {
        display: flex;
        justify-content: space-between;

        .RenderTypeTruyen {
            display: flex;
            align-items: center;
            margin: 13px 20px 14.5px 20px;
            font-size: 14px;
        }

        .RenderTypeTruyenLink {
            text-decoration: none;
            color: rgb(78, 78, 78);

            &:hover {
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}
